# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*storybook.log
/.parcel-cache/
/packages/components/button/.parcel-cache/7fa58ab017222a5f-AssetGraph-0
/packages/components/button/.parcel-cache/28db79004eccc053-BundleGraph-0
/packages/components/button/.parcel-cache/70f1f7555dda250d-AssetGraph-0
/packages/components/button/.parcel-cache/98da03459c08e66d-AssetGraph-0
/packages/components/button/.parcel-cache/data.mdb
/packages/components/button/.parcel-cache/lock.mdb
/packages/components/button/.parcel-cache/requestGraph-9ab56d8324705798-0
/packages/components/button/.parcel-cache/requestGraph-bd48e19de466c2bf-0
/packages/components/button/.parcel-cache/requestGraph-nodes-0-9ab56d8324705798-0
/packages/components/button/.parcel-cache/requestGraph-nodes-0-bd48e19de466c2bf-0
/packages/components/button/.parcel-cache/snapshot-9ab56d8324705798.txt
/packages/components/button/.parcel-cache/snapshot-bd48e19de466c2bf.txt
/packages/components/button/dist/index.d.ts
/packages/components/button/dist/index.d.ts.map
/packages/components/button/dist/index.mjs
/packages/components/button/dist/index.mjs.map
/packages/core/global-styles/dist/index.css
/packages/core/global-styles/dist/index.css.map
/packages/core/global-styles/dist/index.d.ts
/packages/core/global-styles/dist/index.mjs
/packages/core/global-styles/dist/index.mjs.map
/packages/core/lib/dist/index.d.ts
/packages/core/lib/dist/index.d.ts.map
/packages/core/lib/dist/index.mjs
/packages/core/lib/dist/index.mjs.map
